* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Encode Sans SC", sans-serif;
}

header {
  font-size: 22px;
}

header li.nav-item {
  margin: 0 10px;
}

footer {
  padding: 20px;
  color: white;
  background-color: #212529;
}

footer h1 {
  font-size: 18px;
}

